@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

/*--------------------------------------Hero Image*/
#emblem {
    background-attachment: fixed;
    background-image: url('../images/hammarbybg.jpg');
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}


/*--------------------------------------Navbar*/
.navbar {
    background-color: rgba(85, 168, 102, 0.8);
    border-bottom: 3px solid #E8E8E8;
}

.logotext  {
    font-size: 150%;
    text-transform: uppercase;
    padding-left: 10px;
    letter-spacing: 1px;
    font-weight: 500;
}

.logo i {
    color: #fff;
}

.menu {
    display:flex;
    justify-content: space-between;

}

.menu-item {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 3px solid transparent;
    font-weight: 400;
}

.menu-item:hover {
    border-bottom: 1px solid #E7C61C;
}

.menu:active {
    border-bottom: 1px solid #E7C61C;
}

}

.burger-icon {
    margin-right: 20px;
    position: relative;
}




/*--------------------------------------Section*/

.main-content {
    /*background-color: rgba(32, 148, 54, 0.8);
    box-shadow: 0 0 5px 10px rgba(32, 148, 54, 0.8);*/
    background-color: rgba(22, 80, 28, 0.8);
    box-shadow: 0 0 5px 10px rgba(22, 80, 28, 0.8);
    margin-top: 60px;
    margin-bottom: 20px;
}

.picture {
    background-image: url('../images/kennedy2-min.jpg');
    margin: 20px 20px 20px 50px;;
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 40vw;
    background-repeat: no-repeat;

    border: solid #fafafa;
    border-color: #fafafa;
    border-width: 2px 2px 4px 4px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
}

.info {
    margin-left: 30px;
}

.info-heading{
    color:  #fafafa;
    font-size: 35px;
    margin-top: 20px;
}

.info-p {
    color:  #fafafa;
}


/*--------------------------------------Footer*/

footer {
    /*background-color: rgba(152, 152, 152, 1)*/
    background-color: rgba(22, 80, 28, 1);
    color: #fafafa;
    max-height: 100px;
    margin: 0;
}

#footer-details {               /*<--targets the whole footer*/
    padding: 20px;
}

.cv-pdf i {                     /*<--targeting the 'download pdf' icon*/
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {               /*<--targeting the 'download pdf' icon (hover combined with transition)*/
    color: #E7C61C;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {          /*<--targeting the 'social' icons*/
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;         /*<--makes the icons into circles (only works when width & height=same(square))*/
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;          /*<--same transition as ".cv-pdf i"*/
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {       /*<--targeting the 'social' icons (hover combined with transition)*/
    background: #E7C61C;
}